// === BASIC COLORS ===
$green-basic-color: #1abc9c;
$blue-basic-color: #1e73be;
$red-basic-color: #e74c3c;
$orange-basic-color: #dd9933;
$yellow-basic-color:#f1c40f;
$white-basic-color: #fff;
$black-basic-color: #000000;
// color list
$colors: ( // green
green: $green-basic-color, // green
blue: $blue-basic-color, // blue
red: $red-basic-color, // red
orange: $orange-basic-color, // orange
yellow: $yellow-basic-color, // yellow
white: $brown-basic-color, // white
black: $brownish-grey-basic-color, // black
);